{% extends 'base.html' %}
{%load crispy_forms_tags%}
{%block title%}
        Edit  course {{course.title}} Assignments
{%endblock%}


{%block body%}
   

    <h4>
            Edit, Delete or Add on Assignments of the course <span>{{course.title}}</span> 
    </h4>
    <form method="POST" action="" enctype="multipart/form-data">
        {%csrf_token%}
        {{formset.management_form}}
        {{formset|crispy}}
        <hr>
       
        <button type="submit"> Save </button>
    </form> 
{%endblock%}